{% extends "base.html" %}
{% block content %}
<h1 class="my-6 text-4xl">Welcome to {{room.name}} Room</h1>

<div class="mx-auto border-2">
    <div class="bg-gray-400 p-5 m-3 rounded-xl" id="messages">
       
    </div>
   <div class="m-6">
    <form action="">
        <input class=" rounded-xl p-2 w-[250px] h-[40px]" type="text" id="chat-message" placeholder="Enter your message">
        <button class="w-[100px] h-[40px] bg-gray-400 rounded-xl border-2" id="chat-message-send">Send</button>
    </form>
   </div>
</div>



<!-- script for chat frontend -->
{{  room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
    const userName = JSON.parse(document.getElementById('json-username').textContent)
    const webSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/'
        + roomName + '/'
    );
    webSocket.onmessage = (e) => {
        console.log('onmessage')
        const data = JSON.parse(e.data)
        if (data.message) {
            let html = '<div>';
                html += '<p>' + data.username + '</p>';
                html += '<p>' + data.message + '</p> </div>';
            document.querySelector('#messages').innerHTML += html

        } else {
            alert('Message is empty')
        }
    }
    webSocket.onopen = (e) => {
        console.log('Socket Connected!')
    }
    webSocket.onclose = (e) => {
        console.log('Socket closed!')
    }
    document.querySelector('#chat-message-send').onclick = (e) => {
    e.preventDefault();
    const messageInput = document.querySelector('#chat-message');
    const message = messageInput.value;
    webSocket.send(JSON.stringify({
        'message': message,
        'username': userName,
        'roomname': roomName
    }))

    messageInput.value = '';
    return false;

    }
</script>
{% endblock %}